.light-theme {
    background: linear-gradient(to bottom, #ffffff, #c3d8fd);
    color: #000;
}

.dark-theme {
    background: linear-gradient(to bottom, #000000, #1b1041);
    color: #ffffff; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Anton", sans-serif;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Anton", sans-serif;
}

.table-container {
    width: 90%;
    max-height: 600px; 
    overflow: auto; /* Agregar barra de desplazamiento cuando la tabla exceda la altura máxima */
    font-family: "Anton", sans-serif;
}

.table {
    background-color: #ffffff;
    width: 100%; /* Ajustar el ancho de la tabla al contenedor */
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: auto;
}

.table th,
.table td {
    border: 1px solid rgb(0, 0, 0);
    color: #333;
    padding: 8px;
}

.centrado {
    width: 300px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#theme-toggle {
    background: linear-gradient(to bottom, #b3a7e7, #6340fd);
    border-radius: 20px; /* Redondea los bordes del botón */
    padding: 10px 20px; /* Ajusta el espacio interior del botón */
    background-color: #6e54e1; /* Color de fondo predeterminado */
    color: #fff; /* Color del texto */
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px; /* Corrige la posición del botón */
    z-index: 999;
}


.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.cookie-banner p {
    margin: 0;
    font-size: 14px;
}

.cookie-banner button {
    background: linear-gradient(to bottom, #b3a7e7, #6e54e1);
    border-radius: 20px; /* Redondea los bordes del botón */
    padding: 5px 10px; /* Ajusta el espacio interior del botón */
    background-color: #6e54e1; /* Color de fondo predeterminado */
    color: #fff; /* Color del texto */
    border: none;
    cursor: pointer;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
